ngx-layout {
    --ngx-layout-gap: var(--hy-spacing-small);
    --ngx-layout-padding: var(--hy-spacing-medium);
    --ngx-layout-padding-block-start: 0;
    --ngx-layout-content-gap: var(--hy-spacing-small);
}
