ngx-layout {
    --ngx-layout-content-gap: var(--hy-spacing-small);

    --ngx-layout-content-padding: var(--hy-spacing-x-small)
        var(--hy-spacing-medium) var(--hy-spacing-medium);
    --ngx-layout-extra-content-padding: var(--hy-spacing-x-small)
        var(--hy-spacing-medium);
}
