@use "@angular/material" as mat;

mat-dialog-container {
    @include mat.dialog-overrides(
        (
            actions-padding: var(--hy-spacing-x-large),
            headline-padding: var(--hy-spacing-x-small)
                var(--hy-spacing-x-large) var(--hy-spacing-medium),
        )
    );
}

.with-divider {
    mat-dialog-actions {
        border-top: 1px solid var(--mat-sys-outline-variant);
    }
}

.warning-dialog {
    mat-dialog-container {
        @include mat.dialog-overrides(
            (
                subhead-color: var(--mat-sys-warning),
                headline-padding: var(--hy-spacing-x-large)
                    var(--hy-spacing-x-large) var(--hy-spacing-medium),
            )
        );
    }

    [mat-dialog-title]:before {
        content: "warning";
        font-family: "Material Symbols Outlined Variable";
        display: inline;
        padding-inline-end: 10px;
        vertical-align: bottom;
    }
}
