@use "@angular/material" as mat;

mat-dialog-container {
    @include mat.dialog-overrides(
        (
            actions-padding: var(--hy-spacing-medium) var(--hy-spacing-x-large)
                var(--hy-spacing-large),
            headline-padding: var(--hy-spacing-x-small)
                var(--hy-spacing-x-large) var(--hy-spacing-medium),
            with-actions-content-padding: var(--hy-spacing-small)
                var(--hy-spacing-x-large),
        )
    );

    mat-divider:not(mat-dialog-content *) {
        @include mat.divider-overrides(
            (
                color: var(--mat-sys-outline),
            )
        );
    }

    [mat-dialog-title] {
        margin: 0;
    }

    mat-dialog-actions.mat-mdc-dialog-actions {
        border: none;
    }
}

.warning-dialog {
    mat-dialog-container {
        @include mat.dialog-overrides(
            (
                subhead-color: var(--hy-color-warning),
                headline-padding: var(--hy-spacing-x-large)
                    var(--hy-spacing-x-large) var(--hy-spacing-medium),
            )
        );
    }

    [mat-dialog-title]:before {
        content: "warning";
        font-family: "Material Symbols Outlined Variable";
        display: inline;
        padding-inline-end: 10px;
        vertical-align: bottom;
    }
}
