@use "@fontsource-variable/material-symbols-outlined/fill" as *;

mat-icon,
.hy-icon {
    font-family: "Material Symbols Outlined Variable" !important;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    font-variation-settings: "FILL" 1;

    &.outlined {
        font-variation-settings: "FILL" 0;
    }

    &.small {
        font-size: 20px;
        height: 20px;
        width: 20px;
    }

    &.x-small {
        font-size: 16px;
        height: 16px;
        width: 16px;
    }
}
