ngx-main-bar {
    --ngx-main-bar-padding: var(--hy-spacing-x-small) var(--hy-spacing-medium);
    --ngx-main-bar-gap: var(--hy-spacing-medium-small);
    --ngx-main-bar-right-gap: var(--hy-spacing-medium-small);
    --ngx-main-bar-action-min-inline-size: 48px;
}
