html {
    --ngx-actions-group-menu-padding: 0 var(--hy-spacing-medium-small);

    ngx-actions-group {
        --ngx-actions-group-gap: var(--hy-spacing-medium-small);
        --ngx-actions-group-padding: var(--hy-spacing-small);

        --ngx-actions-group-radius: var(--hy-radius-x-large);
    }
}
