ngx-panel-bar {
    --ngx-panel-bar-min-height: 3rem;
    --ngx-panel-bar-actions-group-min-inline-size: 3rem;
    --ngx-panel-bar-title-min-width: 6ch;

    --ngx-panel-bar-padding: var(--hy-spacing-x-small);
    --ngx-panel-bar-gap: var(--hy-spacing-medium-small);
    --ngx-panel-bar-title-first-child-padding-start: var(--hy-spacing-small);
    --ngx-panel-bar-elements-gap: var(--hy-spacing-medium-small);
}
