ngx-search-bar-container {
    --ngx-search-bar-container-max-width: 25rem;

    --ngx-search-bar-container-radius: var(--hy-radius-x-large);

    --ngx-search-bar-container-block-size: 3rem;
    --ngx-search-bar-container-padding-inline-start: var(
        --hy-spacing-medium-large
    );
    --ngx-search-bar-container-padding-inline-end: var(--hy-spacing-x-small);
    --ngx-search-bar-container-gap: var(--hy-spacing-xx-small);

    --ngx-search-bar-container-folded-padding: 0 var(--hy-spacing-x-small);
    --ngx-search-bar-container-icon-padding: var(--hy-spacing-small);
}
