::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    transition: 0.3s ease-in-out;
    border-radius: 6px;
    background-color: var(--mat-sys-outline-variant);

    &:hover {
        background-color: var(--mat-sys-outline);
    }
}
